@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --dark7: #272740;
    --dark8: #141427;
    --cyan1: #70e3ea;
}

body{
    background-color: var(--dark1);
    height: 100vh;
    font-family: 'lato';
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark8);
    min-height: 50px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

:is(.header,.first-section){
    background-image: linear-gradient(to bottom, #141427 ,#272740, #34344e);
}


.first-section{
   display: flex;
   justify-content: space-evenly;
   gap: 2rem;
   flex-wrap: wrap;
   align-items: center;
   min-height: 650px;
}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}